<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sayhellototheworld.littlewatermelon.shareplan"
          android:fitsSystemWindows="true"
          android:versionCode="1"
          android:versionName="1.0">

    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".SPApplication"
        android:allowBackup="true"
        android:icon="@mipmap/log"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="design_width"
            android:value="768"/>
        <meta-data
            android:name="design_height"
            android:value="1280"/>

        <activity android:name=".EnterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.centerplaza_view.CenterPlazaActivity">
        </activity>
        <activity
            android:name=".view.centerplaza_view.WriteActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.user_view.LoginActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.user_view.RegisterUserActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.user_view.ForgetPasswordActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.user_view.ForgetPasswordNextActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity android:name=".view.user_view.PersonalInformationActivity">
        </activity>
        <activity
            android:name=".view.user_view.UserSettingActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity android:name=".TestActivity"/>
        <activity android:name=".util.pictureselect.activity.FolderListviewActivity"/>
        <activity android:name=".util.pictureselect.activity.ShowPictureActivity"/>
        <activity android:name=".util.pictureselect.activity.ClipHeadPortraitActivity">
        </activity>
        <activity android:name=".util.pictureselect.activity.PreviewPlanPicActivity">
        </activity>
        <activity android:name=".util.pictureselect.activity.PreviewBackgroundActivity">
        </activity>

        <service
            android:name=".system_serve.SyncUserPlanService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity
            android:name=".view.function_view.PlanDetailsActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.function_view.PlanProgressActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity android:name=".view.function_view.WriteCommentActivity"
                  android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
    </application>

</manifest>